:root {
    --color-bg: #121212;
    --color-text: #dddddd;
    --bold-text: #eeeeee;
    --nav-text: #dddddd;
    --code: #f2f2f2;

    --slider-bg: #dddddd;
    --slider-bg-before: #fff;

    --accent-color: #ffafbd;
    --accent-color-alt: #ffc3a0;
}

[data-theme="light"] {
    --color-bg: #f2f2f2;
    --color-text: #444444;
    --bold-text: #222;
    --nav-text: #000000;
    --code: #f2f2f2;
    --slider-bg: #dddddd;
    --slider-bg-before: #fff;

    --accent-color: #cc2b5e;
    --accent-color-alt: #753a88;
}

[data-theme="dark"] {
    --color-bg: #121212;
    --color-text: #dddddd;
    --bold-text: #eeeeee;
    --nav-text: #dddddd;
    --code: #f2f2f2;

    --accent-color: #ffafbd;
    --accent-color-alt: #ffc3a0;
}

/**
 * Images, iframe placeholders
 */
img,
iframe {
    background-color: var(--color-text);
}
