---
---

<div class="nav-dot-menu nav-dot-container">
  <ul class="nav-dots">
    <li class="nav-item active"><a class="nav-link content-white" href="#home"></a></li><li class="nav-item">
      <a class="nav-link content-white" href="#about"></a>
    </li><li class="nav-item"><a class="nav-link content-white" href="#products"></a></li><li class="nav-item">
      <a class="nav-link content-white" href="#services"></a>
    </li><li class="nav-item"><a class="nav-link content-white" href="#gallery"></a></li><li class="nav-item">
      <a class="nav-link content-white" href="#contact"></a>
    </li>
  </ul>
</div>

<style scoped lang="scss"></style>
